body {
    overflow: hidden;
    background-color: var(--cor-fundo);
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    color: var(--cor-contraste);
    position: fixed;
    height: var(--tamanho-header);
    width: 100%;
    top: 0;
    background-color: #B9C4E4;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
    font-size: 1.5em;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    color: var(--cor-secundaria)
}
.logo a img {
    width: 70%;
    margin-left: 10%;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 8em;
}
nav ul li a {
    color: var(--cor-texto);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #0099ff;
}
.login-buttons a {
    text-decoration: none;
    
}
.login-buttons button {
    margin-left: 1em;
    background-color: var(--cor-button);
    color: var(--cor-contraste);
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 5px;
}
button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: var(--cor-terciaria);
    color: var(--cor-contraste);
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
button:hover {
    background-color: var(--cor-button-hover);
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    cursor: pointer;
}
button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;  
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    bottom: 2px;
    transform: scale(1.5);
}
.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;        
    transform: translate(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
    transform: translateX(24px);
}
.fa-moon {
    color: var(--cor-button);
}
.fa-sun {
    color: var(--cor-button);
}
main {
    height: var(--tamanho-main);
    margin-top: 100px;
    overflow-y: scroll;
    scroll-behavior: smooth !important;
    color: var(--cor-texto-main);
}

.fundo_img {
    height: calc(100vh - 100px);
    width: 100%;
    background-image: url(../assets/img/Fundo1page.png);
    background-size: cover;
    background-position: 30% 40%;
}
.card #mensagem {
    color: var(--cor-texto);
}
/* teste card */
.parent {
    padding: 120px;
    perspective: 1000px;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: start;
}  
.card {
    border-radius: 10px;
    transform-style: preserve-3d;
    background-color: #fffdfd81;
    width: 100%;
    transition: all 0.5s ease-in-out;    
    width: 750px;
    height: 350px;
    padding: 35px 30px;
    cursor: pointer;
}  
.card:hover {
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(1, 1, 0, 10deg);
}  
.content-box {
    border-radius: 10px 100px 10px 10px;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
}  
.content-box .card-title {
    display: inline-block;
    color: var(--cor-texto);
    font-size: 40px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
}  
.content-box .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
}  
.content-box .card-content {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 400;
    color: var(--cor-texto);
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
} 
.content-box .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
}  
.content-box .see-more {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    color: rgb(7, 185, 255);
    border-radius: 5px;
    background: var(--cor-contraste);
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
}
.content-box .see-more:hover {
    transform: translate3d(0px, 0px, 60px);
}
.blue-text {
    color: var(--cor-terciaria);
}
/* nossa solução */
.section-soluction {
    height: var(--tamanho-section);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .solucao {
    margin-top: 5px;
    text-align: center;
    font-size: 2rem;
}
.containerSolu {
    display: flex;
}
.containerSolu .logoGas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40%;
}  
.containerSolu .logoGas img{
    width: 50%;
    height: 50%;
    cursor: pointer;
}
.logoGas:hover {
    transform: translateX(100px)scale(2.0)rotate(-40seg);
    transform: translateY(10px)scale(2.0)rotate(-40seg);
}
.text  {
    width: 40%;
    margin-bottom: 6%;
    height: 50%;
    align-items: center;
}
.text p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    word-break: break-word;
}
.containerSolu .text h2 {
    font-size: 1.8rem;
    font-weight: 200;
    justify-content: end;
}
.pai {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pai .dash p {
    text-align: center;
    align-items: start;
    font-size: 1.5rem;
    word-break: break-word;
}
.pai .board img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 75%;
    margin-bottom: 10px;
}

/* simulador */
.section-simulador {
    height: var(--tamanho-section);
    display: flex;
}
.simulador-box {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.simulador-box, .info-box {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 90px;
    height: 400px;
}
.simulador-box h2 {
    font-size: 2rem;
    color: var(--cor-texto-main);
}
.simulador-box form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 30px;
}
.simulador-box a {
    background-color: var(--cor-button);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    width: 40%;
    border-radius: 10px;

}
.simulador-box a:hover {
    background-color: var(--cor-button-hover);
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.info-box .text-mq2 {
    text-align: center;
    word-wrap: break-word;
    max-width: 300px;
}
.mq2 {
    word-wrap:break-word ;
    font-size: 3rem;
    text-align: right;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}
/* Quem somos? */

.section-somos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: 200px;
    height: var(--tamanho-section);
}
.section-somos .text-box {
    max-width: 50%;
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 1.2em;
}
.section-somos .image-box img {
    width: 65%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 200px;
}
.text-somos {
    margin-bottom: 40px;
}
/* Fale Conosco */
h2 {
    text-align: center;
}
.section-fale {
    height: var(--tamanho-section);
}
.section-fale form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 530px;
    margin: 0 auto;
}
/* .section-fale form label {
    display: flex;
    justify-content: flex-start;
    text-align: start;
} */
.section-fale input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
    width: 75%;
}
textarea {
    resize: none;
    border-radius: 15px;
}
.section-fale button {
    background-color: var(--cor-button);
    color: var(--cor-contraste);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}
.section-fale button:hover {
    background-color: var(--cor-button-hover);
}

p {
    font-size: 1.2rem;
}

/* rodapé */
footer {
    background-color: #41134A;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

footer nav ul {
    display: flex;
    justify-content: center;
    gap: 6rem;
    text-align: left;
}

footer nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer nav ul li a:hover {
    color: #0099ff;
}
.contato img {
    width: 17px;
    height: 14px;
    justify-content: flex-end;

}
.linkedin {
    padding-left: 5px;
}
nav .contato {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
