body {
    overflow: hidden;
    background-color: var(--cor-fundo);
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    position: fixed;
}

.side {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    width: 100%;
    background-color: #B9C4E4;
    color: var(--cor-secundaria);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.side h1 {
    font-size: 1.5em;
}

.logo a img {
    width: 70%;
    margin-left: 10%;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    color: var(--cor-secundaria)
}

.sideBar {
    background-color: #262A69;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: #90E4EC;
    gap: 10px;
    overflow-y: auto;
}

.sideBar::-webkit-scrollbar {
    display: none;
  }

.sideBar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sideBar ul li a {
    text-decoration: none;
}


.imagem{
    min-width: 140px;
    min-height: 140px; 
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    margin-top: 30px;
}

.imagem img{
    height: 20px;
}

.nome #b_usuario{
    font-size: 20px;
    
}

.menu li{
   padding: 10px;
   border-bottom: 1px white solid;
   width: 100%;
   color: #90E4EC;
   height: 20%;
   font-weight: 700;
   text-align: start;
}

.menu a{
    text-decoration: none;

}

.menu{
    margin-top: 20px;
    width: 100%;
    
}
.botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 150px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;  
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}


.label .ball {
    background-color: #dddddd;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 1;       
    transform: translate(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
    transform: translateX(25px);
}



.bi {
    color: var(--cor-button);

    height: 100%;
    width: 100%;
}


.container {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}



.cadastro-content {
    margin-top: 30px;
    margin-left: 270px;
display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
align-items: center;
}



.message-content {
    font-size: 1.4em;
    width: 100%;
    text-align: center;

    padding: 20px;

    color: var(--cor-texto-secundario);
}

.message-content h3 {
    padding: 5px;
}


.input-div {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    margin-left: 150px;
}

.labels {
    color: var(--cor-texto);
    
    font-weight: 700;
    font-size: 18px;
    user-select: none;
    
    transition: all 0.2s;
}

.input-div input {
    width: 80%;
    height: 60%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 18px;
    background-color: #D9D9D9;
}

.input-div input:focus {
    border: none;
    outline: none;
}

.input-div1 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    margin-left: 150px;
}

.input-div1 input {
    width: 80%;
    height: 60%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 18px;
    background-color: #D9D9D9;
}

.input-div1 input:focus {
    border: none;
    outline: none;
}

.mensagemValidacao {
    width: 75%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.mensagemValidacao span {
    color: red;
    font-size: 16px;
    font-weight: 700;
}

button{
    margin-top: 20px;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: #fff;  
    cursor: pointer;

}

.salvar{
    background-color: #90E4EC;
}
.senha{
    background-color: #262A69;
    margin-top: 30px;

}

.imagem_perfil{
background-color: #262A69;
min-width: 140px;
min-height: 140px; 
border-radius: 50%;
}

.user #a_usuario{
    font-size: 20px;
    color: #262A69;
}


li img{
    margin-right: 8px;
    /* display: flex;
    justify-content: center; */

}

.trocar-img{
    background-color: #535050;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    transform: translate(80%, -90%);
}

.trocar-img img{
    margin-left: 10px;
    margin-top: 8px;    
    width: 55%;
}