body {
    overflow: hidden;
    background-color: var(--cor-fundo);
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    position: fixed;
}

.side {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    width: 100%;
    background-color: #B9C4E4;
    color: var(--cor-secundaria);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.side h1 {
    font-size: 1.5em;
}

#titleGerFab {
    color: var(--cor-texto);
}

.logo a img {
    width: 70%;
    margin-left: 10%;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    color: var(--cor-secundaria)
}

.sideBar {
    background-color: #262A69;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: #90E4EC;
    gap: 10px;
    overflow-y: auto;
}

.sideBar::-webkit-scrollbar {
    display: none;
}

.sideBar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sideBar ul li a {
    text-decoration: none;
}


.imagem {
    min-width: 140px;
    min-height: 140px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    margin-top: 30px;
}

.imagem img {
    height: 20px;
}

.nome #b_usuario {
    font-size: 20px;

}

.menu li {
    padding: 10px;
    border-bottom: 1px white solid;
    width: 100%;
    color: #90E4EC;
    height: 20%;
    font-weight: 700;
    text-align: start;
}

.menu a {
    text-decoration: none;

}

.menu {
    margin-top: 20px;
    width: 100%;

}

.botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 150px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #dddddd;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 1;       
    transform: translate(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
    transform: translateX(25px);
}


.bi {
    color: var(--cor-button);

    height: 100%;
    width: 100%;
}


.container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}



.cadastro-content {
    margin-top: 80px;
    margin-left: 270px;
    display: flex;
    width: 75%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}


.guys {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.guys button {
    background-color: var(--cor-button);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

li img {
    margin-right: 8px;
    /* display: flex;
    justify-content: center; */

}


.modal-header h2 {
    color: var(--cor-texto);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: var(--cor-texto);

    overflow: auto;
}

table tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: all .3s;
}

table td, table th {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

table a {
    text-decoration: none;
    color: var(--cor-button);
    font-weight: 700;
}



.modal-cadastro {
    background-color: var(--cor-fundo);
    box-shadow: 0 12px 24px var(--cor-sombra);
    width: 60%;
    height: 65%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;

    border-radius: 15px;

    display: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    position: relative;
}

.modal-content h2 {
    margin-top: 20px;
}

.modal-content .modal-body {
    width: 60%;
}

.modal-content .input-div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.modal-content label {
    text-align: start;
    width: 73%;

    color: var(--cor-texto);

    font-weight: 700;
    font-size: 18px;
}

.modal-content .input-div input {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 18px;
    background-color: #D9D9D9;
}

.modal-content .input-div input:focus {
    border: none;
    outline: none;
}

.modal-content button {
    background-color: var(--cor-button);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.modal-content button:hover {
    background-color: #262A69;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;

    color: red;
}

:root[theme="dark"] .contraste {
    background-color: #1f1f1f;
    color: white;   
}

:root[theme="light"] .contraste {
    background-color: #dddddd;   
}