body {
    background-color: var(--cor-fundo);
    height: 100dvh;
    width: 100vw;
}

.container {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-content {
    margin: 10px 0 30px 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100% ;
}

.user {
    margin: 60px 0 40px 0;
    height: 10px;
}

.user  h3 span{
    font-size: 1.6rem;
    letter-spacing: 1px;
    initial-letter: uppercase;
}

.sltOption{
    margin-left: 78px;
    margin-bottom: 10px;
    padding: 4px;
    text-align: start;
    width: 215px;
    height: 35px;
    border: 1px solid #ddd;
    -webkit-appearance: none;
}

.arrow {
    z-index: 999;
    transform: translate(-50px, 20px);
}

.buttonForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttonForm button {
    margin: 25px 0 20px 0;
    margin-left: 35px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px var(--cor-secundaria);
    background: var(--cor-button);
    color: white;
    text-align: center;
}

.modal-header {
    color: var(--cor-texto);
}

.modal-cadastro {
    background-color: var(--cor-fundo);
    width: 45%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -95%);
    position: absolute;
    border-radius: 15px;
    display: none;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.modal-content h2 {
    margin-top: 20px;
}

.modal-content .modal-body {
    width: 60%;

}

.modal-content .input-div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
}

.modal-content label {
    text-align: start;
    width: 73%;
    color: var(--cor-texto);
    font-weight: 700;
    font-size: 18px;
}

.modal-content .input-div textarea {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 18px;
    background-color: #D9D9D9;
    resize: none;
}

.modal-content .input-div input:focus {
    border: none;
    outline: none;
}

.modal-content button {
    background-color: var(--cor-button);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.modal-content button:hover {
    background-color: #262A69;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;

    color: red;
}

:root[theme="dark"] .contraste {
    background-color: #1f1f1f;
    color: white;   
}

:root[theme="light"] .contraste {
    background-color: #dddddd;   
}

